<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Convertcart_Analytics::config" title="Convertcart Analytics Configuration" />
                            <resource id="Convertcart_Analytics::api" title="ConvertCart API Access" sortOrder="200">
                                <resource id="Convertcart_Analytics::sync" title="Sync Data" sortOrder="10"/>
                                <resource id="Convertcart_Analytics::plugin_info" title="Plugin Information" sortOrder="20"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
